/* Coolors Exported Palette - coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c */

/* HSL */
$color1: hsla(207%, 95%, 8%, 1);
$color2: hsla(100%, 100%, 99%, 1);
$color3: hsla(174%, 62%, 47%, 1);
$color4: hsla(353%, 81%, 51%, 1);
$color5: hsla(35%, 100%, 55%, 1);
$color6: hsla(35%, 100%, 55%, 1);

/* RGB */
$color1: rgba(1, 22, 39, 1);
$color2: rgba(253, 255, 252, 1);
$color3: rgba(46, 196, 182, 1);
$color4: rgba(231, 29, 54, 1);
$color5: rgba(255, 159, 28, 1);
$color6: rgba(255, 159, 28, 1);
$color7: rgba(255, 159, 28, 1);
$pink: #fd446b;
$purple: #861657;

$bgColor : $pink;
$textColor:$color2;
$fontFamily: PT,'serif'; 
$bigText: 120px;
$extraBigText: 200px;
$smallText: 100px;
$extraSmallText: 20px;
$mediumText: 80px;
$hrColor : $color2;


