@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:400,700|Raleway:400,700,900');
body {
	font-family: 'PT Sans', sans-serif;
	min-height: 740px;
	background: rgb(215, 215, 215);
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
	background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
	background: rebeccapurple;
}

.section h1{
	font-size: 70px;
	font-family: "Raleway", sans-serif;
	margin-bottom: -27px;
	font-weight: 700;
	letter-spacing: -2px;
	margin-bottom: 10px;
}

.section hr{
	color: black;
}
.section p {
	font-size: 20pt;
	line-height: 50px;
	font-weight: light;
	font-family: "Helvetica Neue", Helvetica, Arial, serif;
}

#intro{
	background: transparent;
}

#intro h1{
	font-size: 150px;
	font-weight: 800;
	line-height: 120px;
	font-family: "Raleway", sans-serif;
}

#intro h3 {
	font-size: 100px;
	font-family: "Oswald", sans-serif;
	margin-bottom: -27px;
	letter-spacing: 3px;
}

#intro p{
	font-size: 30pt;
	line-height: 50px;
	font-weight: light;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
